<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div class="container">
    <h2>Ro'yxatdan o'tish</h2>
    <form action="./signup" method="post" id="signup-form">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="postcode">Post kod:</label><br>
        <input type="text" id="postcode" name="postcode" required><br>

        <label for="password">Parol:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="auth" style="display: none"></label>
        <input type="text" id="auth" name="auth" style="display: none;"><br>
        <button id="signup-button" type="submit" value="Submit" style="display: none"></button>
    </form>
</div>
<script src="/static/js/app.js"></script>
<script>
    Page.init()
</script>
</body>
</html>